<html>
   <body>
   
      <form action = "http://localhost:5000/postresult" method = "POST">
         <p>Chemical Name <input type = "text" name = "Name" /></p>
         <p>Property1 <input type = "text" name = "Property1" /></p>
         <p>Value1 <input type = "float" name = "Value1" /></p>
         <p>Property2 <input type = "text" name = "Property2" /></p>
         <p>Value2 <input type = "float" name = "Value2" /></p>
         <p><input type = "Submit" value = "Add" /></p>
      </form>

      <form action = "http://localhost:5000/" method = "POST">
         <p><input type = "Submit" value = "Home" /></p>
      </form>
      
   </body>
</html>