<html>
   <body>
   
      <form action = "http://localhost:5000/queryresult" method = "POST">
         <p>Chemical Name <input type = "text" name = "Name" /></p>
         <p>Property1 <input type = "text" name = "Property1" /></p>
         <p>From <input type = "float" name = "Property1Min" /></p>
         <p>To <input type = "float" name = "Property1Max" /></p>
         <p>Property2 <input type = "text" name = "Property2" /></p>
         <p>From <input type = "float" name = "Property2Min" /></p>
         <p>To <input type = "float" name = "Property2Max" /></p>
         <p>Dump(y/n) <input type ="text" name = "Dump" /></p>
         <p><input type = "Submit" value = "Search" /></p>
      </form>

      <form action = "http://localhost:5000" method = "POST">
         <p><input type = "Submit" value = "Home" /></p>
      </form>
      
   </body>
</html>